h1 {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 61px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}

h2 {
    font-family: Days One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}

.synopsis {
    height: 60px;
    width: 600px;
    font-family: Jaldi;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.slider {
    /*width: 1921px;*/
    height: 687px;
    background-color: rgb(179, 178, 178);
    padding: 0;
    position: relative;
}

.movieInfo {
    width: 680px;
    height: 194px;
    background-color: rgb(70, 69, 69);
    margin: 0 auto;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

h2 {
    font-size: 11px;
    line-height: 14px;
}

.btnContainer {
    width: 622px;
    height: 57px;
    background-color: rgba(255, 192, 203, 0);
    margin-top: 20px;
}

.btnWatchLater {
    width: 297px;
    height: 57px;
    background-color: rgb(223, 217, 217);
    text-align: center;
    border-radius: 4rem;
    padding-left: 40px;
    padding-top: 10px;
    float: right;
}

.btnWatchNow {
    width: 297px;
    height: 57px;
    background-color: rgb(223, 217, 217);
    text-align: center;
    padding-left: 40px;
    padding-top: 10px;
    border-radius: 4rem;
    border-color: white;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .movieInfo {
        width: 979px;
        height: 168px;
        background-color: #27292F;
        left: 20px;
    }
    h1 {
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }
    .synopsis {
        height: 30px;
        width: 600px;
        font-family: KoHo;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        float: left;
    }
    .btnContainer {
        width: 166px;
        height: 72px;
        background-color: rgb(255, 192, 203);
        float: right;
    }
    .btnWatchLater {
        height: 32px;
        width: 166px;
    }
    .btnWatchNow {
        height: 32px;
        width: 166px;
    }
}

.trending {
    /* width: 1921px;*/
    height: 687px;
    background-color: rgb(122, 121, 121);
    position: relative;
}