body{
    margin: 0 auto;
    padding: 0;
    background-image: url("../img/jpegs/Ipadloginbg.png");
    background-size: cover;
    background-position: center;
    width: 1024px;
    height: 768px;
}

.container{
    margin: 0 auto;
    width: 519.24px;
    height: 620.33px;
    background-color: #27292F;
    box-shadow: 8px 5px 26px -11px rgba(0,0,0,0.31);
    -webkit-box-shadow: 8px 5px 26px -11px rgba(0,0,0,0.31);
    -moz-box-shadow: 8px 5px 26px -11px rgba(0,0,0,0.31);
    border: #ffffff solid 5px;
    position: relative;
    border-radius: 20px;
    margin-top: 79px;
    margin-left: 253px;
}

.left{
    width: 50%;
    height: 800px;
    text-align: center;
    float: left;
    color: #27292F;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

.right{
    width: 50%;
    height: 800px;
    text-align: center;
    float: left;   
    color: #27292F;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}


.logoLogin{
   
    position:absolute;
    margin-left: -119px;
    margin-top: 33px;
    /* Fix centering of logo */
}



/* ///////////////////// */
.form-container{
    text-align: center;
    width: 519.24px;
    height: 666px;
    margin: 0 auto;   
    margin-top: 66px;
    color: white;
}

.form-container2{
    text-align: center;
    width: 519.24px;
    height: 461.33px;
    margin: 0 auto;   
    margin-top: 66px;
    color: white;
}

input{
    width: 447px;
    height: 43.33px;
    border: solid 2px white;
    background-color: transparent;
    border-radius: 40px;
    padding-left: 15px;
    margin-top: 26px;
    color: white;
    margin-left: 5px;
}

.submitbtn{
    width: 462.22px;
    height: 43.1px;
    background-color: #F1B000;
    color: #f7f7f7;
    margin:  0 auto;
    margin-top: 26px;
    border-radius: 40px;
    font-size: 20.21px;
    font-weight: 300 !important;
    transition: all ease 200ms;
    font-family: 'Days One', sans-serif;
    border: none;
    margin-left: 5px;
}
.submitbtn:hover{
    transform: scale(1.025);
    cursor: pointer;
}

#signuptitle{
    font-family: 'Days One', sans-serif;
    font-size: 41px;
    font-weight: normal;
}

LABEL.indented-checkbox-text
{
  margin-left: 85px;
  display: block;
  position: relative;
  margin-top: -1.4em;  /* make this margin match whatever your line-height is */
  line-height: 1.4em;  /* can be set here, or elsewehere */
  font-family: 'KoHo', sans-serif;
    font-size: 20.21px;
    font-weight: normal;
}

/* Customize the label (the container) */
.containercheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 100px;
    padding-top: 27px;
    margin-left: -170px;
  }
  
  /* Hide the browser's default checkbox */
  .containercheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid 2px white;
    border-radius: 100px;
    margin-left: 170px;
  }
  
  /* On mouse-over, add a grey background color */
  .containercheckbox:hover input ~ .checkmark {
    background-color: #F1B000;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containercheckbox input:checked ~ .checkmark {
    background-color: #F1B000;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containercheckbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containercheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .socialsTab{
      width: 464px;
      height: 37px;
      margin-top: 33px;
      background-size: cover;
      background-position: center;
      margin-left: 10px;
     
      float: right;
      margin-right: 27px;
  }

  .fbook{
      float: right;
      cursor: pointer;
      margin-top: -43px;
      margin-right: 200px;
  }

  .twitter{
    float: right;
    margin-right: 136px;
    cursor: pointer;
    margin-top: -43px;
}

.google{
    float: right;
    margin-right: 68px;
    cursor: pointer;
    margin-top: -43px;
}

.apple{
    float: right;
    
    cursor: pointer;
    margin-top: -43px;
}

::placeholder{
    color: lightgray;
    font-family: 'KoHo', sans-serif;
    font-size: 15.37px;
    font-weight: bolder;
}

.camImg{
    position: absolute;
    margin-left: -160px;
    margin-top: 144px;
}

.loginoption{
    height: 27px;
    width: 284px;
    margin: 0 auto;
    margin-top: 43.33px; 
}

.logintabbtn:hover{
    color: #27292F;
    background-color: white;
}

#alreadyAccount-tab{
    color: white;
    font-size: 15.36px;
    font-family: 'KoHo', sans-serif;
    font-weight: normal;
    text-align: left;
  
}

.logintabbtn{
    width: 95.11px;
    height: 26.52px;
    font-family: 'Days One', sans-serif;
    font-weight: normal;
    font-size: 9.46px;
    text-align: center;
    border-radius: 18.71px;
    float: right;
    margin-top: -40px;
    border: solid 2px white;
    cursor: pointer;
}

.logintabbtn p{
   
    margin-top: 8px;
    
}

#socialsText{
    font-size: 15.64px;
    font-family: 'KoHo', sans-serif;
    color: white;
    font-weight: normal;
    text-align: left;
    
}

.checkbox-contain{
    margin: 0 auto;
    width: 300px;
    height: 45px;
    margin-top: 25px;
   margin-right: 55px;
}