/* Container */
.container-fluid{
    height: fit-content;
    background-color: #27292F;
}

.header-content{
    width: 100%;
    height: 865px;

    background-image: url("../img/jpegs/background_image.jpg");
    background-position: center;
    background-size:auto;
}

@media only screen  and (max-width:280px){
    .header-content{
     height: 465px;
    }
}

/* Navigation */
.navigation{
    height: 105px;
    width: 100%;
}

@media only screen  and (max-width:280px){
    .navigation{
        display: none;
    }
}

.logo{
    height: 65px;
    width: 190px;

    float: left;
    margin-left: 15px;
    margin-top: 20px;

    background-image: url("../img/logo/logo.svg");
    background-position: center;
}

@media only screen  and (max-width:280px){
    .logo{
        opacity: 1;
    }
}

.search-navigation{
    width: 420px;
    height: 35px;
    margin-left: 250px;
    margin-top: 35px;

    border-bottom-color: white;
    border-bottom-width: 5px ;
    border-bottom-style: solid;
    border-radius: 5px;

    float: left;
}

.search-icon{
    width: 18px;
    height: 18px;
    margin-top: 5px;

    background-image: url("../img/icons/search_icon.svg");
    background-position: center;
    background-size: cover;

    float: left;
}

.search{
    width: 390px;
    height: 28px;

    color: white;
    border: none ;
    outline: none;
    background-color: transparent;
}

#search-1{
    float: right;
}

.home{
    height: 50px;
    width: 100px;
    margin-top: 27px;
    margin-right: 6%;

    font-size: 24px;
    text-align: center;

    float: right;
}

.browse{
    height: 50px;
    width: 100px;
    margin-top: 27px;
    margin-right: 6%;

    font-size: 24px;
    text-align: center;

    border-bottom-color: #F1B000;
    border-bottom-width: 5px ;
    border-bottom-style: solid;
    border-radius: 5px;

    float: right;
}

.watch-later{
    height: 50px;
    width: 150px;
    margin-top: 27px;
    margin-right: 6%;

    font-size: 24px;
    text-align: center;

    float: right;
}

.profile{
    height: 50px;
    width: 254px;
    margin-top: 27px;
    margin-right: 1%;

    font-size: 24px;
    text-align: center;

    float: right;
}

.profile-pic{
    height: 44px;
    width: 44px;

    background-image: url("../img/jpegs/random_profile.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 22px;

    float: right;
}

.navigation a:link {
    text-decoration: none ;
    color: white ;
  }

.navigation a:visited {
    text-decoration: none ;
    color: white ;
  }

.navigation a:hover {
    font-weight: bold ;
}

/* Navigation galaxy */
.logo-sm{
    height: 30px;
    width: 77px;

    float: left;
    margin-left: 5px;
    margin-top: 10px;

    background-image: url("../img/logo/logo.svg");
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 280px){
    .logo-sm{
        display: none;
    }
}

    a{
    color: #fff;
    text-decoration: none;
  }
  
  .p-menu1{
     height: 100%;
  }
  
  /* Hamburger */
  .hamburger1 {
    height: 45px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    z-index: 120;

    float: right;
  }
  
  .hamburger1 div {
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 40px;
    height: 5px;
    margin-top: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  #toggle1 {
    display: none;
  }
  
  #toggle1:checked + .hamburger1 .top {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-top: 22.5px;
  }
  
  #toggle1:checked + .hamburger1 .meat {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -5px;
  }
  
  #toggle1:checked + .hamburger1 .bottom {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  
  #toggle1:checked ~ .menu1 {
    height: 340px;
  }
  
  
  /* Menu */
  .menu1 {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 1fr repeat(4, 0.5fr);
    grid-row-gap: 25px;
    padding: 0;
    list-style: none;
    clear: both;
    width: auto;
    text-align: center;
    height: 0px;
    overflow: hidden;
    transition: height .4s ease;
    z-index: 120;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .menu1 a:first-child {
    margin-top: 40px;
  }
  
  .menu1 a:last-child {
    margin-bottom: 40px;
  }
  
  .link1 {
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font: 700 20px 'Oswald', sans-serif;
  }
  
  .link1 a:hover {
    background-color: #fff;
    color: rgb(61, 61, 61);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;

    font-weight: bold ;
  }

  .link1 a:link {
    text-decoration: none ;
    color: white ;
  }

.link1 a:visited {
    text-decoration: none ;
    color: white ;
  }

  @media screen and (max-width: 280px){
    .p-menu1{
        display: none;
    }
}

/* Search bar */
.search-bar{
    width: 95%;
    height: 45px;
    margin-left: 2.5%;
    margin-top: 45px;

    border-color: white;
    border-width: 2px ;
    border-style: solid;
    border-radius: 15px;
}

@media only screen  and (max-width:280px){
    .search-bar{
        display: none;
    }
}

.drop-icon{
    width: 27px;
    height: 27px;
    margin-right: 10px;

    background-image: url("../img/icons/drop_down_icon.svg");
    background-position: center;
    background-size: cover;

    float: right;
}

#year{
    width: 10%;
    height: 100%;
    padding-left: 10px;

    border-right-color: white;
    border-right-width: 1px ;
    border-right-style: solid;

    float: left;
}

#rating{
    width: 10%;
    height: 100%;
    padding-left: 10px;

    border-right-color: white;
    border-right-width: 1px ;
    border-right-style: solid;

    float: left;
}

#genre{
    width: 10%;
    height: 100%;
    padding-left: 10px;

    border-right-color: white;
    border-right-width: 1px ;
    border-right-style: solid;

    float: left;
}

.search-searchBar{
    width: 60%;
    height: 100%;
    padding-top: 6px;
    padding-left: 10px;

    color: white;

    float: left;
}

#search-2{
    float: left;
    margin-left: 5px;
}

#search-icon-2{
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-top: 7px;

    background-image: url("../img/icons/search_icon.svg");
    background-position: center;
    background-size: cover;

    float: left;
}

#drop-icon-sortBy{
    float: right;
}

#sort-by{
    width: 10%;
    height: 100%;

    color: white;

    float: right;
}

.sort{
    margin-right: 15px;

    float: right;
}

.drop-down {
    color: white;

    border-radius: 3px;

    background-color: transparent;
    border: transparent;
}

.drop-down option{
    background-color:rgba(45, 45, 45, 0);
    color: black;
}

/* Content section */
.content-container{
    display: block;
    overflow: auto;
}

.content-block{
    width: 190%;
    height: 435px;
    margin-left: 2.5%;
    margin-top: 80px;

    float: left;
}

@media only screen and (max-width:280px){
    .content-block{
    height: 280px;
    margin-left: 5%;
    margin-top: 0px;
    }
}

.title-sortBy{
    width: fit-content;
    height: fit-content;

    color: white;

    font-size: 45px;
}

@media only screen and (max-width:280px){
    .title-sortBy{
        font-size: 35px;
    }
}

/* content boxes */

.block{
    width: 263px;
    height: 363px;
    margin-right: 2%;

    background-color: #F1B000;
    border-radius: 25px;

    float: left;
}

@media only screen and (max-width:280px){
    .block{
        width: 200px;
        height: 200px;
    }
}

#block-rating{
    width: 32px;
    height: 32px;
    margin: 10px;

    background-image: url("../img/icons/star_icon.svg");
    background-position: center;
    background-size: cover;

    float: left;
}

.like{
    width: 32px;
    height: 32px;
    margin: 10px;

    background-image: url("../img/icons/empty_heart.svg");
    background-position: center;
    background-size: cover;

    float: right;
}

.like:hover{
    background-image: url("../img/icons/full_heart.svg");
    cursor: pointer;
}

.info_box{
    width: 100%;
    height: 17%;
    margin-top: 115%;

    background-color: rgba(39, 41, 47, 0.5);
    opacity: 0.5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media only screen and (max-width:280px){
    .info_box{
    width: 100%;
    height: 25%;
    margin-top: 75%;

    background-color: rgba(39, 41, 47, 0.5);
    opacity: 0.5;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    }
}


.movie_name{
    margin: 13px;

    font-size: 18px;
    color: white;
    float: left;
}

.watch_later{
    width: 32px;
    height: 32px;
    margin: 10px;

    background-image: url("../img/icons/plus_btn.svg");
    background-position: center;
    background-size: cover;

    float: right;
}

.play_movie{
    width: 32px;
    height: 32px;
    margin: 10px;

    background-image: url("../img/icons/play_btn.svg");
    background-position: center;
    background-size: cover;

    float: right;
}