/* Container */
.container-fluid{
    height: fit-content;
    background-color: black;
}

.header-content{
    width: 100%;
    height: 877px;

    background-image: url("../img/jpegs/background_image.jpg");
    background-position: center;
}

/* Navigation */
.navigation{
    height: 105px;
    width: 100%;
}

.logo{
    height: 65px;
    width: 190px;

    float: left;
    margin-left: 15px;
    margin-top: 20px;

    background-image: url("../img/logo/logo.svg");
    background-position: center;
}

.search-navigation{
    width: 420px;
    height: 35px;
    margin-left: 250px;
    margin-top: 35px;

    border-bottom-color: white;
    border-bottom-width: 5px ;
    border-bottom-style: solid;
    border-radius: 5px;

    float: left;
}

.search-icon{
    width: 18px;
    height: 18px;
    margin-top: 5px;

    background-image: url("../img/icons/search_icon.svg");
    background-position: center;
    background-size: cover;

    float: left;
}

.search{
    width: 390px;
    height: 28px;

    color: white;
    border: none ;
    outline: none;
    background-color: transparent;
}

#search-1{
    float: right;
}

.home{
    height: 50px;
    width: 100px;
    margin-top: 27px;
    margin-right: 100px;

    font-size: 24px;
    text-align: center;

    float: right;
}

.browse{
    height: 50px;
    width: 100px;
    margin-top: 27px;
    margin-right: 100px;

    font-size: 24px;
    text-align: center;

    border-bottom-color: #F1B000;
    border-bottom-width: 5px ;
    border-bottom-style: solid;
    border-radius: 5px;

    float: right;
}

.watch-later{
    height: 50px;
    width: 150px;
    margin-top: 27px;
    margin-right: 100px;

    font-size: 24px;
    text-align: center;

    float: right;
}

.profile{
    height: 50px;
    width: 254px;
    margin-top: 27px;
    margin-right: 18px;

    font-size: 24px;
    text-align: center;

    float: right;
}

.profile-pic{
    height: 44px;
    width: 44px;

    background-image: url("../img/jpegs/random_profile.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 22px;

    float: right;
}

.navigation a:link {
    text-decoration: none ;
    color: white ;
  }

.navigation a:visited {
    text-decoration: none ;
    color: white ;
  }

.navigation a:hover {
    font-weight: bold ;
}

/* Search bar */
.search-bar{
    width: 95%;
    height: 45px;
    margin-left: 2.5%;
    margin-top: 45px;

    border-color: white;
    border-width: 2px ;
    border-style: solid;
    border-radius: 15px;
}

.drop-icon{
    width: 27px;
    height: 27px;
    margin-right: 10px;

    background-image: url("../img/icons/drop_down_icon.svg");
    background-position: center;
    background-size: cover;

    float: right;
}

.year{
    width: 10%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;

    color: white;
    border-right-color: white;
    border-right-width: 1px ;
    border-right-style: solid;

    float: left;
}

.rating{
    width: 10%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;

    color: white;
    border-right-color: white;
    border-right-width: 1px ;
    border-right-style: solid;

    float: left;
}

.genre{
    width: 10%;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;

    color: white;
    border-right-color: white;
    border-right-width: 1px ;
    border-right-style: solid;

    float: left;
}

.search-searchBar{
    width: 60%;
    height: 100%;
    padding-top: 6px;
    padding-left: 10px;

    color: white;

    float: left;
}

#search-2{
    float: left;
    margin-left: 5px;
}

#search-icon-2{
    width: 18px;
    height: 18px;
    margin-left: 5px;
    margin-top: 7px;

    background-image: url("../img/icons/search_icon.svg");
    background-position: center;
    background-size: cover;

    float: left;
}

#drop-icon-sortBy{
    float: right;
}

.sort-by{
    width: 10%;
    height: 100%;
    padding-top: 10px;

    color: white;
    border-right-color: white;
    border-right-width: 1px ;
    border-right-style: solid;

    float: right;
}

.sort{
    margin-right: 15px;

    float: right;
}

/* Content section */

.content-block{
    width: 190%;
    height: 435px;
    margin-left: 2.5%;
    margin-top: 80px;
}

.title-sortBy{
    width: fit-content;
    height: fit-content;

    color: white;

    font-size: 45px;
}

.block{
    width: 263px;
    height: 363px;
    margin-right: 2%;

    background-color: #F1B000;
    border-radius: 25px;

    float: left;
}