/* Container */
.container-fluid{
    height: fit-content;
    background-color: #27292F;
}

.content-box{
    display: block;
    overflow: auto;
    width: 100%;  
}

/* Navigation */
.navigation{
    height: 105px;
    width: 100%;
}

@media only screen  and (max-width:1024px){
    .navigation{
        height: 70px;
    width: 100%;
    }
}

@media only screen  and (max-width:280px){
    .navigation{
        display: none;
    }
}

.logo{
    height: 65px;
    width: 190px;

    float: left;
    margin-left: 15px;
    margin-top: 20px;

    background-image: url("../img/logo/logo.svg");
    background-position: center;
}

@media only screen  and (max-width:1024px){
    .logo{
        height: 33px;
        width: 95px;

        background-size: cover;
    }
}

.search-navigation{
    width: 420px;
    height: 35px;
    margin-left: 9%;
    margin-top: 35px;

    border-bottom-color: white;
    border-bottom-width: 5px ;
    border-bottom-style: solid;
    border-radius: 5px;

    float: left;
}

@media only screen  and (max-width:1024px){
    .search-navigation{
    width: 210px;
    height: 28px;
    margin-top: 22px;
    border-bottom-width: 3px ;
    }
}

.search-icon{
    width: 18px;
    height: 18px;
    margin-top: 5px;

    background-image: url("../img/icons/search_icon.svg");
    background-position: center;
    background-size: cover;

    float: left;
}

@media only screen  and (max-width:1024px){
    .search-icon{
        width: 12px;
        height: 12px;
    }
}

.search{
    width: 390px;
    height: 28px;

    color: white;
    border: none ;
    outline: none;
    background-color: transparent;

}

@media only screen  and (max-width:1024px){
    .search{
    width: 195px;
    height: 14px;
    margin-top: 3px;
    font-size: 14px;
    }
}

#search-1{
    float: right;
}

.home{
    height: 50px;
    width: 100px;
    margin-top: 27px;
    margin-right: 6%;

    font-size: 24px;
    text-align: center;

    float: right;
}

@media only screen  and (max-width:1024px){
    .home{
    height: 50px;
    width: 50px;
    font-size: 10px;
    }
}


.browse{
    height: 50px;
    width: 100px;
    margin-top: 27px;
    margin-right: 6%;

    font-size: 24px;
    text-align: center;

    float: right;
}

@media only screen  and (max-width:1024px){
    .browse{
    height: 50px;
    width: 50px;
    font-size: 10px;
    }
}

.watch-later{
    height: 50px;
    width: 150px;
    margin-top: 27px;
    margin-right: 6%;

    font-size: 24px;
    text-align: center;

    border-bottom-color: #F1B000;
    border-bottom-width: 5px ;
    border-bottom-style: solid;
    border-radius: 5px;

    float: right;
}

@media only screen  and (max-width:1024px){
    .watch-later{
    height: 25px;
    width: 65px;
    font-size: 10px;
    }
}

.profile{
    height: 50px;
    width: 254px;
    margin-top: 27px;
    margin-right: 1%;

    font-size: 24px;
    text-align: center;

    float: right;
}

@media only screen  and (max-width:1024px){
    .profile{
    height: 50px;
    width: 120px;
    font-size: 10px;
    margin-right: 1%;
    }
}

.profile-pic{
    height: 44px;
    width: 44px;

    background-image: url("../img/jpegs/random_profile.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 22px;

    float: right;
}

@media only screen  and (max-width:1024px){
    .profile-pic{
    height: 25px;
    width: 25px;
    }
}

.navigation a:link {
    text-decoration: none ;
    color: white ;
  }

.navigation a:visited {
    text-decoration: none ;
    color: white ;
  }

.navigation a:hover {
    font-weight: bold ;
}

@media screen and (max-width: 280px){
    .logo-sm{
     height: 31px;
    width: 77px;

    float: left;
    margin-left: 5px;
    margin-top: 10px;

    background-image: url("../img/logo/logo.svg");
    background-position: center;
    background-size: cover;
        display: block;
    }
}
/* Active movie */
.active-movie{
    width: 70%;
    height: 700px;
    margin-top: 10px;
    margin-left: 15px;

    background-color: #F1B000;
    border-radius: 20px;

    float: left;
}

@media only screen  and (max-width:1024px){
    .active-movie{
        width: 95%;
        height: 359px;
        margin-left: 2.5%;
    }
}

@media only screen  and (max-width:280px){
    .active-movie{
        display: none;
    }
}

.play_button{
    width: 134px;
    height: 134px;
    margin-left: 45%;
    margin-top: 290px;

    opacity: 0.7;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icons/play_movie.svg");
}

@media only screen  and (max-width:1024px){
    .play_button{
        display: none;
    }
}

@media only screen  and (max-width:280px){
    .play_button{
        display: none;
    }
}


.play_button:hover{
    opacity: 1;
}

/* Next Movies */
.next-movies-containner{
    width: 20%;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    margin-right: 35px;
    margin-left: 2.5%;

    float: right;
}

.next-movies-containner::-webkit-scrollbar {
    display: none;
}

@media only screen  and (max-width:1024px){
    .next-movies-containner{
        height: 220;
        width: 100%;
         overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;

        margin-right: 0px;
        float: left;
    }
}

@media only screen  and (max-width:280px){
    .next-movies-containner{
        float: none;
        height: fit-content;
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: nowrap;
        padding-left: 25px;
    }
}


@media only screen  and (max-width:1024px){
    .next-movies-containner-title{
        width: 100%;
        height: 50px;
        margin-bottom: 30px;
        margin-left: 30px;
        font-size: 38pt;
        color: white;
        float: left;
    }
}

@media only screen  and (max-width:280px){
    .next-movies-containner-title{
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        margin-left: 0px;
        font-size: 18pt;
        color: white;
        float: left;
        text-align: center;
    }
}

.block{
    width: 100%;
    height: 220px;
    margin-bottom: 30px;

    background-color: #F1B000;
    border-radius: 20px;
}

@media only screen and (max-width:1024px){
    .block{
        width: 335px;
        height: 175px;     
        margin-right: 30px;
        display: inline-block;
    }
}

@media only screen and (max-width:280px){
    .block{
        width: 186px;
        height: 96px;     
        margin-bottom: 30px;
        margin-right: 0px;
        display: block;
    }
}

/* Movie information */
.synopsis{
    width: 70%;
    height: 170px;

    text-align: center;
    font-size: 36px;
    color: white;
}

.sunopsis-body{
    width: 100%;
    height: 120px ;

    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width:1024px){
    .synopsis{
       display: none;
}}

.cast{
    width: 50%;
    height: 250px;

    text-align: center;
    font-size: 36px;
    color: white;
    border-color: white;
    border-right-style: solid;
    border-right-width: 3px;

    float: left;
}

.cast-body{
    width: 70%;
    height: 120px ;

    font-size: 18px;
}

.directors{
    width: 50%;
    height: 250px;

    text-align: center;
    font-size: 36px;
    color: white;

    float: right;
}

.directors-body{
    width: 70%;
    height: 120px ;

    font-size: 18px;
}

.information-container{
    width: 70%;
    height: 250px;

    border-color: white ;
    border-bottom-style: solid ;
    border-bottom-width: 3px ;
    border-top-style: solid ;
    border-top-width: 3px ;
    margin-top: 700px;
}

@media only screen and (max-width:1024px){
    .information-container{
       display: none;
}}